.blog-listing-wraper {
  padding: 80px 0;
}
.blog-tag-wrap {
  margin: 20px 0 15px 0;
}
.blog-tag-wrap span {
  background: #f5f5f5;
  padding: 10px 15px;
  color: #666666;
  font-size: 14px;
  border-radius: 30px;
}
.big-blog-list-wrap {
  margin-bottom: 40px;
}
.big-blog-list-wrap h2 {
  color: #000000;
}
.big-blog-list-image img {
  width: 100%;
}
.blog-tag-wrap strong {
  font-weight: normal !important;
  padding: 4px 0;
  color: #666666;
  font-size: 14px;
  float: right;
}
.blog-listing-wraper h2 {
  margin-bottom: 15px;
}
.blog-listing-wraper h2 a {
  font-weight: bold;
  color: #000;
  font-size: 34px;
}
.blog-listing-wraper p {
  font-size: 16px;
  color: #666666;
  line-height: 26px;
}
/* Removed empty ruleset */
.small-listing-wrap ul {
  list-style: none;
}
/* Removed empty ruleset */
.small-listing-wrap ul li .blog-small-list {
  margin-bottom: 35px;
}
.blog-small-list .blog-small-image {
  width: 240px;
  height: 150px;
  background-size: cover !important;
  float: left;
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.custom-pagination {
  font-size: 20px;
}
.pagination-link {
  margin: 0 8px;
}
/* Pagination page numbers */
.page-numbers {
  color: black;
  text-decoration: none;
}
.page-numbers:hover {
  color: black;
}

/* Active page number styling: circle with lime green background */
.page-numbers.current {
  background-color:  #c8f031;
  color: black;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-weight: bolder;
}
/* Pagination previous and next buttons styling using inline-flex for centering the icon */
.pagination-prev, .pagination-next {
  background-color: #fff;
  color: #c8f031;
  border: 2px solid #c8f031;
  display: inline-flex; /* Changed from flex to inline-flex */
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.pagination-prev:hover, .pagination-next:hover {
  background-color: #c8f031;
  color: #fff;
}


.blog-small-text {
  width: 61%;
  float: left;
  padding-left: 25px;
}
.small-tags-rap {
  margin-bottom: 25px;
}
.small-tags-rap span {
  background: #f5f5f5;
  padding: 10px 15px;
  color: #666666;
  font-size: 14px;
  border-radius: 30px;
}
.small-tags-rap strong {
  font-weight: normal !important;
  padding: 4px 0;
  color: #666666;
  font-size: 14px;
  float: right;
}
.blog-small-text h4 {
  font-weight: bold;
  color: #000;
  font-size: 22px;
  margin-bottom: 15px;
}
.blog-single-wrap {
  padding-top: 60px;
  text-align: center;
}